body {
    font-family: sans-serif;
    /* background-color: #282c34; */
    background: rgb(249,216,26);
background: linear-gradient(90deg, rgba(249,216,26,1) 12%, rgba(255,110,0,1) 100%);
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Homepage */
.home-main-container {
    /* background-color: greenyellow; */
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.name-container {
    /* background-color: bisque; */
    padding-left: 10%;
    margin-top: 20%;
}

.name-container h2 {
    margin: -5%;
    font-size: 100px;
}

.logo-container {
    flex-grow: 2;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    /* background-color: aquamarine; */
}

.sun {
    height: 550px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clouds-foreground {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.clouds-rear {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
} 

.sun-rays {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 75%;;
} 


/* Navbar */
.Navbar {
    text-align: center;
}

.Navbar-logo {
    height: 40vmin;
    pointer-events: none;
}

.Navbar-header {
    background-color: transparent;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding-left: 1%;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 4;
}

.Navbar-link {
    color: #61dafb;
}